a, button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin: 0;
		background: transparent;
		padding: 0;
		border: none;
		transition: color 0.2s ease, background 0.2s ease, border-color 0.2s ease, opacity 0.2s ease;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		color: inherit;
		font: inherit;
		text-align: inherit;
		text-decoration: none;
		text-transform: inherit;
		border-radius: 0;
		outline: none;
		border-radius: 0; /* ios */
}

nav {
    display: block;
}

body {
    color: #222222;
    font: bold 13px/26px sans-serif;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

.clear:after {
    width: 100%;
    height: 0px;
    clear: both;
    display: block;
    content: "";
}

.nav {
    background: #262626;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    z-index: 10;
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:70px;
}

.menu {
    float: right;
}

body.state-active-nav .menu {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    left: 0;
    opacity: 1;
}
  
.menu li {
    margin: 0 0 0 5px;
    float: left;
}
.menu li:first-child {
    margin: 0;
}
.menu a {
    padding: 14px 20px;
    position: relative;
}

.menu a:before {
    content: "";
    position: absolute;
    top:0;
    left:50%;
    right:50%;
    width: 0;
    height: 3px;
    background: #fff;
    z-index: 3;
     -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menu a.active:before,
.menu a:hover:before {
    width: 100%;
    left:0;
    right:0;
}

.logo {
    height: 100%;
}

.logo:hover {
    opacity: 0.8;
}

.logo img {
    height: 100%;
    max-width: 100%;
}

body.state-active-nav .nav-overlay {
    background: rgba(34, 34, 34, 0.5);
    opacity: 1;
    display: block;
}
  
.nav-overlay {
    display: none;
    position: fixed;
    z-index: 12;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(34, 34, 34, 0);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nav-toogle {
    width: 45px;
    height: 40px;
    opacity: 0.8;
    float: right;
    padding: 5px 5px;
    background: #333;
    background: -moz-linear-gradient(top, #111, #444);
    background: -webkit-linear-gradient(top, #111, #444);
    background: linear-gradient(to bottom, #111, #444);
}
.nav-toogle.state-active {
    background: #000;
    opacity: 1;
    transition: all 0.3s ease;
}
.nav-toogle:before,
.nav-toogle:after {
    width: 100%;
    height: 13px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    display: block;
    content: "";
    transition: border 0.3s ease;
}
.nav-toogle:after {
    border-bottom: none;
}


.toShow800 {
    display: none;
}

@media screen and (max-width: 785px) {
  .toShow800 {
      display: block;
  }
  .toHide800 {
      display: none;
  }
  .wrapper {
      width: 760px;
  }
  
  .nav {
      height: 44px;
  }
  
  .nav-toogle {
      margin: 2px 0;
  }

  .menu {
      width: 300px;
      max-width: 95%;
      min-height: 100%;
      background: #222;
      transition: all 0.4s ease;
      position: fixed;
      bottom: 10px;
      left: -100%;
      top: 44px;
      opacity: 0;
      overflow: auto;
      z-index: 25;
      text-align: center;
      padding: 20px 0;
  }
  
  .menu li {
      float: none;
      margin: 10px 0 0;
  }
  
  .menu li:first-child {
      margin-top: 0;
  }
  
  .menu a {
      width: 100%;
  }
  
  .menu a:before {
      display: none;
  }
}
