* {
	box-sizing: border-box;
}

a, button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin: 0;
		background: transparent;
		padding: 0;
		border: none;
		transition: color 0.2s ease, background 0.2s ease, border-color 0.2s ease, opacity 0.2s ease;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		color: inherit;
		font: inherit;
		text-align: inherit;
		text-decoration: none;
		text-transform: inherit;
		border-radius: 0;
		outline: none;
		border-radius: 0; /* ios */
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  display: block;
}

nav {
    display: block;
}

body {
    color: #222222;
    font: bold 13px/26px sans-serif;
	padding: 70px 0 0;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
	height: 100%;
}

.clear:after {
    width: 100%;
    height: 0px;
    clear: both;
    display: block;
    content: "";
}

.nav {
    background: #262626;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    z-index: 10;
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:70px;
	color: #fff;
	opacity: 1;
	 -webkit-transition: background 0.3s ease;
	transition: background 0.3s ease;
}

.nav.scrolled {
	 background: rgba(38, 38, 38, 0.85);
  }

.menu {
    float: right;
	padding: 8px 0;
}

body.state-active-nav .menu {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    left: 0;
    opacity: 1;
}
  
.menu li {
    margin: 0 0 0 5px;
    float: left;
}
.menu li:first-child {
    margin-left: 0;
}
.menu a {
    padding: 14px 20px;
    position: relative;
}

.menu a:before {
    content: "";
    position: absolute;
    top:0;
    left:50%;
    right:50%;
    width: 0;
    height: 3px;
    background: #fff;
    z-index: 3;
     -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.menu .active a:before,
.menu a:hover:before {
    width: 100%;
    left:0;
    right:0;
	 -webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}



.has-children,
 .has-children .sub-menu .has-children {
  position: relative;
}
.has-children:hover .sub-menu,
.has-children:focus .sub-menu,
.has-children .sub-menu .has-children:hover .sub-sub-menu,
.has-children .sub-menu .has-children:focus .sub-sub-menu {
  display: block;
}

.has-children .sub-menu,
.has-children .sub-menu .has-children .sub-sub-menu {
		display: none;
	  width: 170px;
	  position: absolute;
	  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
	  background: #f5f5f5;
		top: 100%;
	  left: 0;
	  color: #999;
	  font: 11px/14px sans-serif;
	  text-align: left;
	  z-index: 10;
}

.has-children .sub-menu .has-children .sub-sub-menu {
  top: 0;
  left: 100%;
  z-index: 12;
}

.has-children .sub-menu:hover,
.has-children .sub-menu:focus {
  display: block;
}
.has-children .sub-menu li {
  float: none;
  border-top: 1px solid #f4f4f4;
  margin: 0;
}
.has-children .sub-menu li:first-child {
  border-top: 0;
}
.has-children .sub-menu li a {
  padding: 20px;
  width: 100%;
  position: relative;
}
.has-children .sub-menu li a:hover {
  background: #fafafa;
  color: #111111;
}
.has-children .sub-menu li a:before,
.has-children .sub-menu li a:hover:before {
  display: none;
}

.logo {
	line-height: 0;
    height: 100%;
}

.logo:hover {
    opacity: 0.8;
}

.logo img {
    height: 100%;
    max-width: 100%;
}

.nav-overlay {
    position: fixed;
    z-index: 12;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(34, 34, 34, 0);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

body.state-active-nav .nav-overlay {
    background: rgba(34, 34, 34, 0.3);
    opacity: 1;
}

.nav-toogle {
    width: 45px;
    height: 40px;
    opacity: 0.8;
    float: right;
    padding: 10px 5px;
    background: transparent;
	z-index: 12;
}
.nav-toogle.state-active {
    background: #444;
    opacity: 1;
    transition: all 0.3s ease;
}
.nav-toogle:before,
.nav-toogle:after {
    width: 100%;
    height: 7px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    display: block;
    content: "";
    transition: border 0.3s ease;
}
.nav-toogle:after {
	 margin-top: 8px;
    border-bottom: none;
}

.content {
	min-height: 800px;
	padding: 20px 0;
}


.toShow800 {
    display: none;
}

@media screen and (max-width: 985px) {
  .toShow800 {
      display: block;
  }
  .toHide800 {
      display: none;
  }
  .wrapper {
      width: 760px;
  }
  
  body {
	   padding-top: 44px;
	}
	
	.nav {
      height: 44px;
  }
  
  .nav-overlay {
    top: 44px;
  }

  .menu {
	  display:block;
      width: 300px;
      max-width: 95%;
      min-height: 100%;
      background: #222;
      transition: all 0.4s ease;
      position: fixed;
      bottom: 10px;
      left: -100%;
      top: 44px;
      opacity: 0;
      overflow: auto;
      z-index: 25;
      text-align: center;
      padding: 40px 0;
  }
  
  .menu li {
      float: none;
      margin: 10px 0 0;
  }
  
  .menu li:first-child {
      margin-top: 0;
  }
  
  .menu a {
      width: 100%;
  }
  
  .menu a:before {
      display: none;
  }
  
  .has-children .sub-menu, 
  .has-children .sub-menu .has-children .sub-sub-menu {
	  width: 100%;
		background: #333;
		color: #999;
		text-align: center;
		font-size: 12px;
		font-weight: 600;
  }
  
  .has-children .sub-menu li {
    border: none;
  }
  .has-children .sub-menu li a:hover,
  .has-children .sub-menu li a:focus {
    background: #333;
    color: #8a8a8a;
  }
  
  .has-children .sub-menu li.has-children .sub-sub-menu {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #444;
    color: #f5f5f5;
    margin: 0;
  }
}
